{
  "apiKey": "example-api-key",
  "authDomain": "example.firebaseapp.com",
  "projectId": "example-project-id",
  "storageBucket": "example.appspot.com",
  "messagingSenderId": "example-messaging-sender-id",
  "appId": "example-app-id",
  "measurementId": "example-measurement-id"
}